*{
    margin: 0%;
    padding: 0%;
}
:root{
    --primary-color:#19cc12;
    ---bg-color:black;
    --text-color:white;
    --main-color:#001005;
    --new-color:grey;
    }
body{
    background-color: var(---bg-color);
    font-family: 'roboto';
}
.header{
    height: 90px;
    width: 100%;
    color: var(--text-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    font-size: 25px;
    background:transparent;
    backdrop-filter: blur(20px); 
    z-index: 10;
}
.logo{
    display: flex;
    align-items: center;
    padding-left: 150px;
}
/* Navbar Styling */
.navbar{
    display: flex;
    align-items: center;
    gap: 30px;
    background:transparent;
    backdrop-filter: blur(20px);  
    padding-right: 260px;
}
.navbar a{
    text-decoration: none;
    display: flex;
    gap: 40px;
    color: var(--text-color);
    font-weight: 500;
    color: var(--text-color);
}
.navbar a:hover{
    color: var(--primary-color);
    transition: 0.5s all ease;
    text-decoration:underline;
    transform: scale(1.1);

}
/* Logo styling */
.logo{
    font-size: 35px;
    font-weight: bolder;
}
.logo:hover{
    transform: scale(1.1);
    cursor: pointer;
}
.logo_span{
    color: var(--primary-color);
}
/* Logo Styling End */
/* Scrollbar styling */
::-webkit-scrollbar{
    width: 20px;
}
::-webkit-scrollbar-thumb{
    background-color: var(--primary-color);
    border-radius: 30px;
    height: 35%;
}
#check{
    display: none;
}
.menu-icon{
    margin-right: 20px;
    display: none;
    cursor: pointer;
    font-size: 40px;
}

@media (max-width:1440px){
    .navbar{
        height:0px;
        width:0%;
        background:black;
        backdrop-filter: blur(80px);
        position: absolute;
        top:90px;
        border: 2px solid var(--primary-color);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0%;
        top: -350%;
        /* display: none; */
        z-index: 3;
    }
    .menu-icon{
        display: block;
    }
    #check:checked + .menu-icon + .navbar{
        height:260px;
        width:100%;
        top: 90px;
        transition: 0.7s all ease;
    }
}